<!DOCTYPE html>
Cache-Control: no-cache, no-store, must-revalidate
Cache-Control: max-age=1

<meta http-equiv="Cashe-Control" content="no no-store" />
<html>
    <head>
        <meta charset="UTF-8">
        <title>New Product</title>
        <link rel="icon" href="data:;base64,=">
    </head>
    <body>
        <h3>Add Product</h3>
        <form method="POST">
            <label>partnumber</label><br>
            <input type="text" name="Partnum" /><br><br>
            <label>количество</label><br>
            <input type="number" name="Qty" /><br><br>
            <label>цена</label><br>
            <input type="text" name="Price" /><br><br>
            <label>Поставщик</label><br>
            <input type="text" name="Provider" /><br><br>
            <label>Название детали</label><br>
            <input type="text" name="Name" /><br><br>
            <label>Примечание</label><br>
            <input type="text" name="Remark" /><br><br>
            <input type="submit" value="Send" />
        </form>
    </body>
</html>