<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Edt Product</title>
    </head>
    <body>
        <h3>Edit Product</h3>
        <form method="POST">
            <input type="hidden" name="Id" value="{{.Id}}" />
            <label>partnumber</label><br>
            <input type="text" name="Partnum" value="{{.Partnum}}" /><br><br>
            <label>количество</label><br>
            <input type="number" name="Qty" value="{{.Qty}}" /><br><br>
            <label>цена</label><br>
            <input type="text" name="Price" value="{{.Price}}" /><br><br>
            <label>Поставщик</label><br>
            <input type="text" name="Provider" value="{{.Provider}}" /><br><br>
            <label>Название детали</label><br>
            <input type="text" name="Name" value="{{.Name}}" /><br><br>
            <label>Примечание</label><br>
            <input type="text" name="Remark" value="{{.Remark}}" /><br><br>
            <input type="submit" value="Send" />
        </form>
    </body>
</html>